.ui-card {
  margin-bottom: 24px;
  border-radius: 20px;
  background: #ffffff;
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
  padding: 32px;

  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1, .h1 {
      line-height: 40px;
    }
  }
  
  h1, h2 {
    margin: 0;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media screen and (max-width: 575px) {
  .ui-card {
    box-shadow: none;
    padding: 16px;
    margin: 0 -15px 16px;
    border-radius: 0;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;

    &__heading {
      flex-direction: column;
      align-items: flex-start;
    }

    &__controls {
      margin-top: 16px;
    }
  }
}
